/* * {
  border: 1px solid blue;
} */
body {
  font-family: "Fira Sans", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ddd;
}
/* div.header {
  height: 10vh;
  text-align: center;
} */
div.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
div.logo-wrapper img {
  max-width: 75%;
  max-height: 800px;
}

#snapsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1180px) {
  #snapsContainer {
    flex-direction: row;
  }
}

.snap-image {
  display: block;
  max-width: calc(min(700px, 100%));
  max-height: 500px;
  min-width: 300px;
  height: auto;
  width: auto;
}
